/* turn off default bubble scrolling since we scroll the interior list */
div.simileAjax-bubble-contentContainer { overflow: hidden; }

#bubble-ajax-contents .event { float: left; clear: left; width: 100%; border-bottom: 1px gray dotted; }
#bubble-ajax-contents #event_options { height: 400px; width: auto; 
  border: 0; /* TODO. only because I can't get bottom all the way to bottom of bubble... add back in later */
  }

#bubble-ajax-contents #event_usage { height: 100%; overflow: auto; padding: 0;}
#bubble-ajax-contents #event_comments { height: 100%; overflow: auto; padding: 0; }

#bubble-ajax-contents .comment_list { padding: 5px; }
#bubble-ajax-contents .comment_list { float:left; width: 60%; margin-top: 10px;}

#bubble-ajax-contents .comment_list .comment { margin-top: 14px; border-bottom: 1px gray dotted; clear: both;}
#bubble-ajax-contents .comment_list .comment .name { float:left; clear: none; }
#bubble-ajax-contents .comment_list .comment .date { float:left; clear: left; font-size: 9pt; color: gray;}
#bubble-ajax-contents .comment_list .comment img { float:right; clear: right; }
#bubble-ajax-contents .comment_list .comment p { float:left; clear: both; }

#bubble-ajax-contents #event_create_comment { float: left; width: 95%; margin:0 ; clear: both; padding: 5px;}
#bubble-ajax-contents #event_create_comment form { width: 95%; }
#bubble-ajax-contents #event_create_comment p { float:left; clear: both; }

#bubble-ajax-contents #event_create_comment #submit_ec_form { clear: both; float: left; background: red; font-size: 12pt; color: white;}

#bubble-ajax-contents .cross_section { border-bottom: 1px gray dotted; margin: 8px; }
#bubble-ajax-contents .cross_section .picture { float:left; clear: left; margin: 2px; }
#bubble-ajax-contents .cross_section .stats { float:left; clear: right; }
#bubble-ajax-contents .cross_section .stats .title { font-size: 9pt; float: left; clear: both; margin: 1px; color: gray;}
#bubble-ajax-contents .cross_section .stats .name { font-size: 9pt; float: left; clear: both; margin: 1px; color: gray;}
#bubble-ajax-contents .cross_section .interpretation a { color: black; }  /* TODO.  were being overridden by rep_core css -- isolate */
#bubble-ajax-contents .cross_section .interpretation a:hover { text-decoration: none; }

