#timeline_create_comment { float: left; width: 100%; margin-top: 14px; margin-left: 40px; border-bottom: 1px gray dotted; clear: both;}
#timeline_create_comment form { width: 100%; }
#timeline_create_comment p { float:left; clear: both; }
