<div class="docs">
  <div class="panel">
	<h1>EMERGENT TIME </h1>

	<p>Emergent Time is a collaborative timelining tool for humanists and social
scientists.</p>

	<h3>Intro</h3>

	<p>With it, you can easily create your own timelines, publish them to the web,
and browse and comment on other users&#8217; timelines.</p>

	<p>You can make as many timelines as you want, on any topic that interests you.
With search, you can easily locate other timelines, and see who else is
working on similar topics.</p>

	<p>Used this way, you might think of Emergent Time as a tool for blogging about time.
Create a timeline tracing your grandmother&#8217;s family history. Or events at the
dramatic height of the French Revolution. Or important physicists in the twentieth century.  

<p>Even fictional or imaginary 
events &#8211; for example, a timeline of C. S. Lewis&#8217; &#8220;The lion, the witch and the
wardrobe.&#8221;</p>

	<p>Anything with a series of events you&#8217;d like to collect together and interpret.</p>

  </div>
  <div class="panel">
	<h3>Community</h3>

	<p>But Emergent Time is more than a blog for time.  It&#8217;s also a community tool that
helps you find users with similar interests, and highlights similarities and
differences in your views of events.</p>

	<p>From each timeline, you can easily browse to related timelines.  Or you can 
click on a single event to see who else uses it and compare interpretations.</p>

  <p>And on your home page, you&#8217;ll see a list of users with similar interests &#8211; 
meaning their timelines address similar topics or events.</p>

	<p>Finally, the front page keeps you up to date on what&#8217;s happening across the
board. You&#8217;ll see a cross-section of recent activity, and a summary of the
most important events overall.</p>

</div>
<div class="panel">
  <h3>Emergent overviews</h3>

	<p>What if you&#8217;re interested in a new subject? Search for some key terms, and
you&#8217;ll get a list of matching timelines, and the most cited events related
to your topic.</p>

	<p>The graph of most cited events gives a snapshot timeline of the community&#8217;s
current collective knowledge about your topic.  Use it to get an overview,
or jump to individual interpretations.</p>

  <p>You may wonder who authors the overview timelines.  The answer is: everyone!  The
software analyzes the pattern of links among all timelines to determine which events
are central for your sub-community.  The more activity there is around a given topic,
the more focused the overview timeline will be.</p>

  <p>From the collective work of many individuals, latent structures of history and
events emerge - just as a textbook introduction integrates the work many independent
specialists.</p>

<p><%= link_to "More detail about Emergent Time&#8217;s aggregate timelines", url(:docs, :page => "ranking") %></p>

  </div>
  <div class="panel">
	<h3>Timelines</h3>

	<p>Timelines interpret a series of events as a coordinated whole.  The events
can be specific to your timeline or shared with other timelines.  </p>

	<p>You can write a short introduction explaining the timeline&#8217;s overall 
point, and giving any necessary context.</p>

	<p>As you fill out the form to add events, Emergent Time will suggest existing
events that might match your needs.  You can either choose one to build on, or continue
to create your own.</p>

	<p>For each event, you can add an interpretive paragraph that gives your take
on the event and situates it in your larger argument.  (This field is 
optional.)</p>

	<p>Together, the introduction, events and interpretations flow together to read,
top to bottom, like a traditional narrative timeline.</p>

	<p>Once you are done, your timeline is available at a URL based on your username 
&#8211; just like a blog post.  Like a blog post, others can comment and discuss it.</p>

  <div>
<!--
  <div class="panel">
	<h3>Source critique</h3>

	<p>When you first create an event, you will be prompted to enter a source &#8211; a 
bibliographic reference to further documentation.  Leave it blank if your
event is common knowledge, or supply a URL or footnote-style citation.</p>

	<p>Emergent Time is designed to work with Zotero (CHNM/George Mason).  Collect your
references as normal in Zotero, then drag them into the sources field.</p>

	<p>Later, you and others can add additional source citations and engage in a
critical discussion on the event&#8217;s source references by adding new event
comments.  </p>

	<p>Users building timelines read the source critique when deciding
whether to use an event in their own timeline.</p>

	<p>If you would like to use an existing event but feel some details are
incorrect, create your own.  Later users will use the version they feel is
most correct, and existing ones may switch.</p>
</div>
-->
<div class="panel">
	<h3>Digital Humanities</h3>

	<p>Sure, there are a couple of other timeline tools on the web &#8211; even a couple
that let you collaborate with others.  What makes Emergent Time different?</p>

	<p>(1) Its notion of collaboration.  Other tools conceive of &#8220;collaboration&#8221; as
two users working on the same timeline &#8211; like sharing a Word document.
Emergent Time&#8217;s collaboration recognizes that, collectively, scholars are engaged in a
shared enterprise to understand the past.  Its collaboration is designed to
map the community&#8217;s shared knowledge while still encouraging individual
expression.</p>

	<p>(2) It&#8217;s focused on digital humanities concerns.  The concept of interpreting
a shared past, of collective events that all experience but are subject to
many different explanations, the emphasis on sources&#8212;all model the way
that historians and other humanists in the Western tradition conceive of and
discuss about the past.  Other tools don&#8217;t have this emphasis on narrative and
critique.</p>

<p><%= link_to "More detail about Emergent Time&#8217;s aggregate timelines", url(:docs, :page => "ranking") %></p>

</div>
<!--
 <div class="panel">
	<h3>What&#8217;s next?</h3>

	<p>Potential features:</p>

  <p>* Publishing. Keep a timeline private until you decide to share it with the
world.</p>

		<p>* Watching. Bookmark another person&#8217;s timeline so you see their most recent
updates on your home page.</p>

		<p>* Notifications.  Receive email when your timelines, or events they use, are
commented on.</p>

    <p>* Download.  Download your timelines in Excel, CSV, or <a href="http://heml.mta.ca/" target="_blank">HEML</a> format.</p>

		<p>* Equivalent events.  Let users link different versions of the same event 
together.</p>

</div>
-->
</div>