<div id="container">
  The item you are looking for has not been found.  Please try again, and 
  email <a href="mailto:yorkc@mit.edu">yorkc@mit.edu</a> if you would like support.
  <br/>
  <br/>
  <%= link_to "Go back...", '/' %>
</div>
